<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.umbc.cs.ebiquity.mithril"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.ViolationWarningActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.UserFeedbackActivity"
            android:label="@string/title_activity_user_feedback"
            android:parentActivityName=".ui.ViolationWarningActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ViolationWarningActivity" />
        </activity>

        <receiver
            android:name=".broadcastreceiver.CommandBroadcastReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="edu.umbc.cs.ebiquity.mithril.command.intent.action.DATA_REQUEST" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.ChangeRuleActivity"
            android:label="@string/title_activity_change_rule"
            android:parentActivityName=".ui.UserFeedbackActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.umbc.cs.ebiquity.mithril.ui.UserFeedbackActivity" />
        </activity>
        <activity
            android:name="edu.umbc.cs.ebiquity.mithril.ui.CreateNewRuleActivity"
            android:label="@string/title_activity_create_new_rule"
            android:parentActivityName=".ui.UserFeedbackActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.umbc.cs.ebiquity.mithril.ui.UserFeedbackActivity" />
        </activity>
    </application>

</manifest>